body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(26, 45, 45);
    color: white;
}

.bg-glow-ambient{
    box-shadow: 0 0 80px skyblue;
}

.text-center{
    text-align: center;
}

.div-center{
    display: flex;
    justify-content: center;
}

.home-button{
    color: white;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid deepskyblue;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

.home-button:hover{
    color:black;
    cursor: pointer;
    background-color: deepskyblue;
}

.mb-5{
    margin-bottom: 5px;
}

#editor { 
    position: absolute;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 50px;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 1.0s;
}

.fullsize {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
